.App {
  text-align: center;
}


.App-header {

  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}




.person {
  background-color: darkcyan;
  padding: 20px;
  border-radius: 10px;
  margin-top: 5px;
  border: 2px solid black;
  margin-left: 4px;
  margin-right: 4px;

}

.other {
  background-color: cyan;
  padding: 20px;
  border-radius: 10px;
  margin-top: 6px;
}

#btn {
  background-color: black;
  color: aliceblue;
  height: 30px;
  width: 60px;
  border: 2px solid red;
  border-radius: 5px;
}